

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.display-flex{
  display: flex;
}

.bg-color{
  background-color:rgba(255, 144, 14, 0.1) ;
}

.navbar{
   max-width: 1440px;
  margin: 0 auto;
 justify-content: space-between;
 align-items: center;
}
.brand{
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;

}

.nav-link{
  text-decoration: none;
  font-weight: 500;
  color: #424242;
}

/* banner section  */

.banner{
   max-width: 1440px;
  margin: 0 auto;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  font-size: 4rem;
}
.banner-description{
  font-size: 1rem;
  color: #727272;
}

/* shared styles */


.btn-primary{
  color: white;
  font-size: 1.3rem;
  padding: 21px 25px;
  background-color:#FF900E ;
  border: none;
  border-radius: 8px;
  margin-bottom: 50px;
}

.text-primary{
  color: #FF900E;
}

/* dark-2 */
.text-gray{
  color: #424242;

}
/* dark-3 */
.text-light-gray{
  color: #727272;
}

/* <----------------------> */

.banner-image{
  margin-bottom: 45px;
  border-radius: 8px;
}

/* feature section  */

.feature-section{
  gap:70px ;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.feature-images{
  max-width: 708px;
}
.feature{
  max-width: 537px;
}
.feature-title{
  font-size: 2.8rem;
}
.Quick-list{
  font-weight: 500;
}
.feature-description{
  font-size: 1rem;

}
.feature-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


/* best feature section  */

.best-features-container{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 145px;
  margin-top:130px ;
  

}
.best-feature-title{
  font-size: 3rem;
  font-weight: 700;
  border-left: 5px solid #FF900E;
  padding-left: 20px;
  margin-bottom:24px ;
}
.best-feature-description{
  font-size: 1rem ;
  margin-bottom: 30px;
}

.best-feature-cards{
  
}

.best-feature-card{
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgb(238, 238, 238) ;
  padding: 20px 46px 20px 30px;
  margin-bottom: 20px;
}

.best-feature-card-title{
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.best-feature-card-description{
  font-size: 1rem ;
}

.btn-experience{
  padding: 45px;
  margin-top: -175px;
  margin-left: -90px;
  
}
.btn-title{
  font-size: 4rem;
  font-weight: 700;
}
.btn-title-small{
  font-size: 1.5rem;
}

/* some fact section  */
.some-facts-contaner{
 
}
.facts-head{
   max-width: 1440px;
  margin: 0 auto;
}
.facts-main-title{
  font-size: 2.8rem;
  margin-bottom: 24px;
}
.facts-main-description{
  font-size: 1rem;
}

.facts{
  border: 1px solid #FF900E;
  border-radius: 8px;
  text-align: center;
  padding: 35px;
  margin-top: 70px;
  
}
.facts-contaner{
  gap:124px ;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
   max-width: 1380px;
  margin: 0 auto;

}
.fact-title{
  font-size: 2.8rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
.fact-description{
  font-size: 1.3rem;
  font-weight: 600;
}

/* sponsors section  */
.sponsor-head{
  text-align: center;
  max-width: 512px;
  margin: 0 auto;
  justify-content: center;
}
.sponsor-title{
  font-size: 2.8rem;
  margin-bottom: 24px;
  margin-top: 150px;

}
.sponsor-description{
  font-size: 1rem;

}
.sponsor-images{
  gap: 150px;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 50px;

}
.spn-image{
  filter: grayscale(100%);
}

.footer{
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 200px;
}
.footer-content{
  padding:39px 410px;
  
}

/* mobile media size */
@media screen and (max-width:576px) {
  .navbar{
    flex-direction: column;
  }
  .banner-image{
    width: 100%;
  }
  .feature-section{
    flex-direction: column;
  }
  .feature-images > img{
    width: 100%;
  }
  /* best feature section  */
.best-features-container{
  flex-direction: column;
}
.best-feature-image-section >img{
  width: 100%;
  margin-top: -110px;
}
.btn-experience{
  padding: 20px 30px;
  margin-top: -175px;
  margin-left: 120px;
}
.btn-title{
  font-size: 2rem;
  font-weight: 700;
}
.btn-title-small{
  font-size: 0.8rem;
  margin-top: 5px;
}

}

